body{
  margin:0;
  padding:0;
  background-color: #23252C;
}
.container{
  margin:1em auto;
  width:317px;
  border:2px solid green;
  border-radius: 16px;
  
}
.avatar-img{
  width:100%;
}
.card-body{
    color:#fff;
    font-family: "Inter", sans-serif;
    text-align: center;
    line-height: 15px;
}
.card-body h1{
    font-size: 25px;
    font-weight: 700;
    
}
.card-body h3{
    font-size: 12.8px;
    font-weight: 400;
    color: #F3BF99;

}
.card-body p{
    font-size: 10.24px;
    font-weight: 400;
}