body {
  margin: 0;
  padding: 0;
  background-color: #23252c;
}
.container {
  margin: 1em auto;
  width: 317px;
  border: 2px solid green;
  border-radius: 16px;
}
.avatar-img {
  width: 100%;
  border-radius: 16px 16px 0 0;
}
.card-body {
  color: #fff;
  font-family: "Inter", sans-serif;
  line-height: 15px;
  margin: 25px;
}
.card-body h1 {
  font-size: 25px;
  font-weight: 700;
}
.card-body h3 {
  font-size: 12.8px;
  font-weight: 400;
  color: #f3bf99;
}
.card-body p {
  font-size: 10.24px;
  font-weight: 400;
}
.user-name {
  text-align: center;
}
button {
 width:100%;
  padding: 9px 13px 9px 11px;
  background-color: #fff;
  border: 1px solid #d1d5db;
  border-radius: 6px;
  margin-top: 10px;
  font-size: 14px;
  font-weight: 500;
  color: #374151;
}
button i {
  color: #1e1f26;
  font-size: 13px;
  margin-right: 3px;
}
.card-body h2 {
  font-size: 16px;
  font-weight: 700;
  margin-top: 20px;
}
.about{
   margin-top: 30px;
   
}

