body {
  margin: 0;
  padding: 0;
  
}
.container {
  margin: 1em auto;
  width: 317px;
  border: 1px solid #161619;
  border-radius: 16px;
   background-color: #1A1B21;
}
.avatar-img {
  width: 100%;
  border-radius: 16px 16px 0 0;
}
.card-body {
  color: #fff;
  font-family: "Inter", sans-serif;
  line-height: 15px;
  margin: 25px;
 
}
.card-body h1 {
  font-size: 25px;
  font-weight: 700;
}
.card-body h3 {
  font-size: 12.8px;
  font-weight: 400;
  color: #f3bf99;
}
.card-body p {
  font-size: 10.24px;
  font-weight: 400;
}
.user-name {
  text-align: center;
}
button {
 width:100%;
  padding: 9px 13px 9px 11px;
  background-color: #fff;
  border: 1px solid #d1d5db;
  border-radius: 6px;
  margin-top: 10px;
  font-size: 14px;
  font-weight: 500;
  color: #374151;
  transition: 150ms ease-in-out;
}
button i {
  color: #1e1f26;
  font-size: 13px;
  margin-right: 3px;
}
button:hover{
    cursor:pointer;
    background-color:#d1d5db;

}
.card-body h2 {
  font-size: 16px;
  font-weight: 700;
  margin-top: 20px;
}
.about{
   margin-top: 30px;
   
}
.footer{
background-color: #161619;
padding:15px;
border-radius: 0 0 16px 16px;
 ;
}
.footer i{
    color:#918E9B;
    font-size: 25px;

}
.social-links{
    display: flex;
    justify-content: space-evenly;
}
a{
    text-decoration: none;
    color:#1e1f26;
}